
h1 {
    font-family: 'alliance-no1', sans-serif;
    font-size: 3rem;
}

    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5vh;
    background: hsla(0,0%,20%, 0.75);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav img {
    width: 100%;
    height: auto;
}
.nav-bar-icon {
    width: 8%;
    cursor: pointer;
}

.searchbar {
    position: relative;
    margin-left: 2%;
}

.shopping-bag {
    margin-right: 2%;
}

.grid {
    display: grid;
    height: 80vh;
    grid-template-rows: 100px repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    gap: 20px 10px;
    margin-top: 5%;
    padding: 1rem;
    
}

.product-container {
    background-color: rgb(231, 229, 229);
    border-radius: 10px;
}

.title {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center; 
}
 /* fix grid overlapping title */
@media only screen and (max-width: 400px) {
    .title {
        font-size: 2.6rem;
    }
}

.phones {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.accesories {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.macbooks {
    grid-row: 3 / -1;
    grid-column: 1 / -1;

    padding: 1rem;
}

.macbook-item {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* .button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: 'alliance-no1', sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
    text-decoration: none;
} */