nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5vh;
    background: hsla(0,0%,20%, 0.75);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

nav img {
    width: 100%;
    height: auto;
}
.nav-bar-icon {
    width: 8%;
    cursor: pointer;
}

.searchbar {
    position: relative;
    margin-left: 2%;
}

.shopping-bag {
    margin-right: 2%;
}

.grid {
    display: grid;
    height: 80vh;
    grid-template-rows: 100px repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);

    gap: 20px 10px;
    margin-top: 5%;
    padding: 1rem;
    
}

.product-container {
    background-color: whitesmoke;
}

.title {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  justify-self: center;  
}

.phones {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.accesories {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.macbooks {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
}